.gallery {
  padding: 20px;
  padding-left: 0;
  max-width: 100%;
}

.gallery ul{
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.gallery ul li{
  margin-left: 25px;
  max-width: 100%;
}

.gallery ul li:first-child{
  margin-left: 0px;
}

.gallery ul li a img{
  border:solid 6px white;
  border-radius: 15px;
  max-width: 100%;
  max-height: 180px;
}