@import url("reset.css");
@import url("global.css");
@import url("components/_navigator.css");
@import url("components/_pills.css");
@import url("components/_link-button.css");
@import url("components/_gallery.css");

.wrapper {
  display: flex;
  height: 100%;
}

.wrapper video {
  position: fixed;
  width: 100%;
  z-index: -1;
}

.wrapper .left-column {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-right: 50px;
  left: 0;
  top: 0;
  z-index: 1;
}

.wrapper .main-content {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .main-content .logo img {
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 30px;
}

.wrapper .main-content__top .description {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 80%;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.wrapper .main-content__top .description .description__text p {
  color: #fff;
  line-height: 150%;
}

.wrapper .main-content__top .description .pills {
  margin-bottom: 15px;
}

.wrapper .main-content .links {
  padding: 10px;
  width: 150px;
}

.spiderman-01-01 {
  background-image: url(../images/spiderman-tobey/movie-01/background.png);
  background-size: cover;
}

.spiderman-01-02 {
  background-image: url(../images/spiderman-tobey/movie-02/background.png);
  background-size: cover;
}

.spiderman-01-03 {
  background-image: url(../images/spiderman-tobey/movie-03/background.png);
  background-size: cover;
}
